@model IEnumerable<MvcCentroPsicopedagogico.Models.Usuarios.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nuevo usuario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.User</td>
                <td>@usuario.Password</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@usuario.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@usuario.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
